.FormatButton {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: var(--main-border-radius);
    height: 32px;
    font-size: 16px;
    outline: none;
    border: 2px solid transparent;
}
.FormatButton_active {
    cursor: pointer;
}
.FormatButton_active:focus {
    border-color: var(--color-focus)
}
.FormatButton_active:hover {
    color: var(--color-select)
}
.FormatButton_active:hover path {
    stroke: var(--color-select)
}
.FormatButton_disabled {
    cursor: not-allowed;
}
.FormatButton-label {
    margin-left: 8px;
}
