.FullscreenButton-root {
    cursor: pointer;
    padding: 7px;
    line-height: 0;
    border: 2px solid transparent;
    border-radius: var(--main-border-radius);
    outline: none;
}
.FullscreenButton-root:focus {
    border-color: var(--color-focus);
}
.FullscreenButton-root:hover path {
    stroke: #0055FB;
}
.FullscreenButton-root svg {
    width: 18px;
    height: 18px;
}
