.AuthPage-root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.AuthPage-form-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--main-border-radius);
    margin: 20px 0;
    padding: 40px 30px;
    width: 520px;
}
.AuthPage-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.AuthPage-repo-link {
    color: #999999;
    font-size: 16px;
    line-height: 20px;
}
.AuthPage-repo-link:focus {
    outline-color: var(--color-outline);
}
.AuthPage-link-container {
    text-align: center;
}
.AuthPage_text_center {
    text-align: center;
}
