.Request-root {
    display: flex;
    padding: 10px 0 15px;
    border-bottom: 1px solid var(--color-divider);
    flex: 1;
}
.Request-text-field {
    flex: 1;
    width: 100%;
    /* min-width: 640px;
    min-height: 520px; */
}
.Request-label {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.Request-label-container {
    margin-bottom: 3px;
}
.Request-text-field-root {
    display: flex;
    flex-flow: column;
    width: 50%;
}
.Request-first-pane {
    padding-left: 15px;
}
.Request-second-pane {
    padding-right: 15px;
}
