html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #0D0D0D;
}
html, body, #app {
    height: 100%;
}
:root {
    --main-border-radius: 5px;
    --color-focus: #45A5FF;
    --color-select: #0055FB;
    --color-error: #CF2C00;
    --color-success: #30B800;
    --color-toolbar: #F6F6F6;
    --color-divider: rgba(0, 0, 0, 0.2);
}
