.TextField {
    margin-bottom: 20px;
}
.TextField-label {
    display: flex;
    font-size: 16px;
    line-height: 20px;
}
.TextField-input {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--main-border-radius);
    font-size: 18px;
    line-height: 30px;
    padding: 5px 10px;
    width: 460px;
    height: 40px;
}
.TextField-input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.TextField-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.TextField-optional {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.TextField-label-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
